absl-py==0.15.0
anyio==3.3.4
appdirs==1.4.4
appnope==0.1.0
argon2-cffi==20.1.0
arrow==1.2.1
asgiref==3.6.0
astunparse==1.6.3
async-generator==1.10
attrs==20.3.0
audioread==2.1.9
autopep8==1.6.0
backcall==0.2.0
beautifulsoup4==4.10.0
bleach==3.2.1
blessed==1.19.0
boto3==1.20.23
botocore==1.23.23
cachetools==4.2.4
certifi==2021.10.8
cffi==1.14.3
charset-normalizer==2.0.7
click==8.0.3
convertdate==2.4.0
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.1
dj-database-url==0.5.0
Django==4.1.7
django-cors-headers==3.13.0
django-filter==21.1
django-json-widget==1.1.1
django-leaflet==0.28.2
django-multiselectfield==0.1.12
django-on-heroku==1.1.2
django-picklefield==3.0.1
django-q==1.3.9
django-storages==1.12.3
django-webpack-loader==0.6.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.0.0
eeweather==0.3.24
entrypoints==0.3
ffmpeg-python==0.2.0
filelock==3.0.12
Flask==1.1.2
Flask-Cors==3.0.10
flask-heroku==0.1.9
Flask-SQLAlchemy==2.4.1
flatbuffers==1.12
future==0.18.2
gast==0.4.0
GDAL==3.4.2
google-auth==2.3.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googlemaps==4.5.3
greenlet==1.1.2
grpcio==1.34.1
gunicorn==20.1.0
h11==0.12.0
h2==4.1.0
h5py==3.6.0
hijri-converter==2.2.3
holidays==0.13
hpack==4.0.0
httpcore==0.13.7
httpx==0.19.0
hyperframe==6.0.1
idna==3.3
importlib-metadata==4.8.2
ipykernel==5.3.4
ipython==7.19.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.17.2
Jinja2==2.11.1
jmespath==0.10.0
joblib==1.1.0
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-core==4.6.3
jupyterlab-pygments==0.1.2
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
korean-lunar-calendar==0.2.1
librosa==0.8.0
llvmlite==0.36.0
lyricsgenius==3.0.1
Markdown==3.3.6
MarkupSafe==1.1.1
matplotlib==3.3.2
mistune==0.8.4
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nest-asyncio==1.4.2
norbert==0.2.1
notebook==6.1.5
numba==0.53.1
numpy==1.23.3
oauthlib==3.1.1
opencv-python==4.4.0.46
opt-einsum==3.3.0
packaging==20.4
pandas==1.5.1
pandocfilters==1.4.3
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.0.1
pipenv==2020.11.15
pooch==1.5.2
prometheus-client==0.8.0
prompt-toolkit==3.0.8
protobuf==3.17.3
psycopg2==2.9.5
psycopg2-binary==2.9.1
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.8.0
pycparser==2.20
Pygments==2.7.2
PyJWT==2.3.0
PyMeeus==0.5.11
pyparsing==2.4.7
pyproj==3.2.1
pyrsistent==0.17.3
python-dateutil==2.8.2
python-dotenv==0.19.0
pytz==2022.4
pyzmq==19.0.2
redis==3.5.3
requests==2.26.0
requests-oauthlib==1.3.0
resampy==0.2.2
rfc3986==1.5.0
rsa==4.7.2
s3transfer==0.5.0
scikit-learn==1.0
scipy==1.7.2
Send2Trash==1.5.0
Shapely==1.8.0
six==1.16.0
sniffio==1.2.0
SoundFile==0.10.3.post1
soupsieve==2.2.1
SpeechRecognition==3.8.1
spleeter==2.3.0
SQLAlchemy==1.3.16
sqlparse==0.4.3
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.5.0
tensorflow-estimator==2.5.0
termcolor==1.1.0
terminado==0.9.1
testpath==0.4.4
threadpoolctl==3.0.0
toml==0.10.2
tornado==6.1
traitlets==5.0.5
typer==0.3.2
typing-extensions==3.7.4.3
tzdata==2022.5
urllib3==1.26.7
virtualenv==20.4.3
virtualenv-clone==0.5.4
vosk==0.3.31
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
whitenoise==6.4.0
wrapt==1.12.1
youtube-dl==2021.6.6
zipp==3.6.0
